NODE_ENV=production

BITTENSOR_ENABLED=true
BITTENSOR_WS_ENDPOINT="wss://entrypoint-finney.opentensor.ai:443"
BITTENSOR_WEIGHT_INTERVAL_MS=3600000

VALIDATOR_MNEMONIC="..."
VALIDATOR_SECRET_SEED="0x..."
VALIDATOR_SS58_FORMAT=42
VALIDATOR_SS58_ADDRESS="..."
